{% extends 'components/layout.html.twig' %}

{% block main %}
<div class="{{ mc_class }}">
	<div class="{{ mct_class }}">
		<div class="flex flex-col gap-4 md:flex-row">
			<div class="w-full md:w-1/2">
				<h5 class="class={{ mt_class }}">{{ product.name }}</h5>
				<div class="w-full md:w-1/2">
					<p class="{{ dl_class }}">{{ 'Price'|trans }}</p>
					<p class="{{ dc_class }}">{{ product.price }}</p>
				</div>
				<div class="w-full md:w-1/2">
					<p class="{{ dl_class }}">{{ 'Category'|trans }}</p>
					<p class="{{ dc_class }}">{{ product.price }}</p>
				</div>
				<div class="w-full md:w-1/2">
					<p class="{{ dl_class }}">{{ 'Stock'|trans }}</p>
					<p class="{{ dc_class }}">{{ product.stockQuantity }}</p>
				</div>
				{% if  product.sku  %}
					<div class="w-full md:w-1/2">
						<p class="{{ dl_class }}">{{ 'SKU' }}</p>
						<p class="{{ dc_class }}">{{ product.sku }}</p>
					</div>
				{% endif %}
			</div>
			<div class="relative w-full md:w-1/2">
				{% if product.img %}
					<img src="data:image/{{ product.mimeType }};base64,{{ product.img }}" alt="{{ 'Image'|trans }} {{ product.name }}" class="{{ di_class }}" width="200px" height="200px">
				{% else %}
					{{ include('components/icon_camera.html.twig',{ 'width': 200, 'height': 200 }) }}
				{% endif %}
				{{ include('components/btn_upload.html.twig',{ 'path': 'tenant_product_upload', 'id': product.id }) }}
			</div>
		</div>
		<div class="mt-2 w-full flex justify-end gap-3">
			{{ include('components/btn_show_edit.html.twig', { 'path' : 'tenant_product_edit', 'id': product.id, 'label': 'Edit' }) }}
			{{ include('components/btn_delete.html.twig', { 'path': 'tenant_product_delete', 'id': product.id, 'confirm_delete': 'Are you sure you want to delete this item?' }) }}
		</div>
	</div>
{% endblock %}