{% extends 'components/table.html.twig' %}

{% block tTitle %}
	<h3 class="card-title">{{ 'Clients'|trans}}</h3>
	<a class="btn btn-success" href="{{ path('tenant_client_new') }}">{{ 'New'|trans}}</a>
{% endblock %}

{% block tHead %}
	<tr>
		<th style="width: 10px;">Id</th>
		<th>{{ 'Name'|trans}}</th>
		<th>{{ 'Address'|trans}}</th>
		<th style="width: 150px;">{{ 'Actions'|trans}}</th>
	</tr>
{% endblock %}

{% block tBody %}
	{% for client in pagination %}
		<tr class="align-middle">
			<td>{{ client.id }}</td>
			<td>{{ client.name }}</td>
			<td>{{ client.address }}</td>
			<td class="d-flex justify-content-center gap-2">
				<a class="btn btn-success" href="{{ path('tenant_client_show', {'id': client.id}) }}">{{ 'Show'|trans}}</a>
				<a class="btn btn-primary" href="{{ path('tenant_client_edit', {'id': client.id}) }}">{{ 'Edit'|trans}}</a>
			</td>
		</tr>
	{% else %}
		<tr class="align-middle">
			<td colspan="4">{{ 'no records found'|trans}}</td>
		</tr>
	{% endfor %}
{% endblock %}
