{% extends 'components/layout.html.twig' %}

{% block main %}
    <div class="{{ mc_class }}">
        {{ include('sale-order/_detail.html.twig', {'saleOrder': saleOrder}) }}
        <div class="{{ mct_class }} mt-2 mb-2">
            <div class="overflow-x-auto">
                {{ include('sale-order/_lines.html.twig', {'saleOrder': saleOrder, 'orderLines': orderLines}) }}
                {% if saleOrder.status == 'OPEN' %}
                    {{ include('sale-order/_add_product_form.html.twig', {'saleOrder': saleOrder, 'products': products}) }}
                {% endif %}
            </div>
        </div>
        {% if saleOrder.status == 'OPEN' %}
            {{ include('sale-order/_close_form.html.twig', {'total': total, 'form': form}) }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sale-order') }}
    {{ encore_entry_script_tags('validate-input-number') }}
{% endblock %}
