{% extends 'components/table.html.twig' %}

{% block tTitle %}
	{{ include('components/search.html.twig',{ 'new': '','title': priceList.name }) }}
{% endblock %}

{% block tHead %}
	<tr>
		<th scope="col" class="{{ th_class }}">ID</th>
		<th scope="col" class="{{ th_class }}">{{ 'Name'|trans}}</th>
		<th scope="col" class="{{ th_class }}">
			{{ 'Price'|trans}}
		</th>
	</tr>
{% endblock %}

{% block tBody %}
	{% for product in pagination %}
		<tr class="{{ tr_class }}">
			<th scope="row" class="{{ th_class }}">
				{{ product.id }}
			</th>
			<td class="{{ td_class }}">
				{{ product.name }}
			</td>
			<td class="{{ td_class }}">
			{% if product.pplid %}
				<form class="flex items-center w-full" method="POST" action="{{ path('tenant_product_price_list_update', { 'pplid': product.pplid }) }}">
					<input type="text" name="price" class="{{ input_class }} input-float" value={{ product.price }}>
					<input hidden name="lid"  value={{ priceList.id }}>
					<button type="submit" class="{{ btn_icon_class }}">
						{{ include('components/icon_sync.html.twig') }}
					</button>
				</form>
			{% else %}
				<form class="flex items-center w-full" method="POST" action="{{ path('tenant_product_price_list_create') }}">
					<input hidden name="pid"  value={{ product.id }}>
					<input hidden name="lid"  value={{ priceList.id }}>
					<input type="text" name="price" class="{{ input_class }} input-float" value={{ product.price }}>
					<button type="submit" class="{{ btn_icon_class }}">
						{{ include('components/icon_sync.html.twig') }}
					</button>
				</form>
			{% endif %}
			</td>
		</tr>
	{% else %}
		{{ include('components/no_records.html.twig') }}
	{% endfor %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('validate-input-float') }}
{% endblock %}