<nav class="app-header navbar navbar-expand bg-body">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
					<i class="bi bi-list"></i>
				</a>
			</li>
		</ul>
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			<div class="m-auto">PRODUCTION</div>
		{% endif %}
		<ul class="navbar-nav ms-auto">
			<li class="nav-item" data-lte-toggle="treeview">
				<a class="nav-link" href="#" role="button">
					<i class="bi bi-globe-americas"></i>
				</a>
				<div class="dropdown-menu-right nav-treeview">
					<a href="{{ path('tenant_lang', {'lang': 'es'}) }}" class="dropdown-item">
						ES
					</a>
					<div class="dropdown-divider"></div>
					<a href="{{ path('tenant_lang', {'lang': 'en'}) }}" class="dropdown-item">
						EN
					</a>
				</div>
			</li>
			<li class="nav-item" data-lte-toggle="treeview">
				<a class="nav-link" href="#" role="button">
					<i class="bi bi-gear"></i>
				</a>
				<div class="dropdown-menu-right nav-treeview">
					<a href="#" class="dropdown-item">
						<i class="bi bi-gear me-2"></i>
						{{ 'Preferences'|trans}}
					</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('tenant_user_show') }}" role="button">
					<i class="bi bi-person-fill"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-danger" href="{{ path('tenant_logout') }}" role="button">
					<i class="bi bi-power"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
