<div class="flex w-full flex-col">
	<div class="flex items-center flex-shrink-0 mb-2">
		{% if new %}
			<a href="{{ path(new) }}" type="button" class="{{ btn_primary_class }}">
				{{ 'New'|trans }}
			</a>
		{% endif %}
        <h5 class="{{ mt_class }}">{{ title|trans }}</h5>
	</div>
	<div class="flex w-full">
		<form class="flex items-center w-full" method="GET">
			<input type="text" name="q" class="{{ input_class }}">
			<button type="submit" class="{{ btn_icon_class }}">
				{{ include('components/icon_search.html.twig') }}
			</button>
		</form>
		<form method="GET">
			<input hidden type="text" name="q" value="">
			<button type="submit" class="{{ btn_icon_class }}">
				{{ include('components/icon_trash.html.twig') }}
			</button>
		</form>
	</div>
</div>
