<div class="{{ mc_class }}">
	<div class="{{ fc_class }}">
		{{ form_start(form) }}
			<h5 class="{{ mt_class }}">	{{ form_header|trans }}</h5>
			{{ form_row(form.name) }}
			<div class="mt-2 w-full flex justify-end">
				<button type="submit" class="{{ btn_success_class }}">
					{{ button_label|trans }}
				</button>
			</div>
		{{ form_end(form) }}
	</div>
</div>
